@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Quicksand:wght@400;700&display=swap");

$border-color: #2e3847;
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
}
#global-container {
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Quicksand", sans-serif;
  text-shadow: 1px 1px $border-color;
  background: #25d2ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  // background-color: #282c34;
  h1 {
    font-size: 3em;
  }
}
.game-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  grid-auto-rows: 100px;
  > div {
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: lightcyan;
    border-radius: 4px;
    &:hover {
      opacity: 0.8;
    }
  }
  .pattern {
    animation-name: shake;
    animation-duration: 1s;
    background: greenyellow;
  }
}
.animate {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    // background-color: lightgreen;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
  }
  to {
    // background-color: aqua;
    color: rgba(0, 0, 0, 1);
    opacity: 1;
  }
}
@keyframes pattern {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.reset-button {
  padding: 10px 20px;
  margin-top: 20px;
  // border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.won {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.turn {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
